:root{
    --white: #fff;
    --light-purple: #9f8ad0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
} 

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

.subtitle{
    text-align: center;
    font-weight: 300;
    margin-bottom: 4rem;
    color: var(--light-purple);
    font-size: 4rem;
}

.container{
    width: 90%;
    max-width: 120rem;
    margin: auto;
    overflow: hidden;
    padding: 6rem 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.40) 0%, rgba(251, 194, 235, 0.40) 100%), url(../img/woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white)
}

.title{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.copy{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}


.hamburguer{
    position: fixed;
    top: 3rem;
    right: 3rem;
    background: var(--white);
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    border-radius: 1rem;

}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #a6c0fe 20%, #f68084 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform, 0.3s, ease-in-out;
    transform: translate(110%);

}

.nav a{
    color: var(--white);
}

.spread{
    transform: translate(0);
}

/*Our Service*/

.container-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container-service img{
    width: 40%;
}

.checklist-service{
    width: 45%;
}

.service{
    margin-bottom: 2rem;

}

.n-service{
    margin-bottom: .7rem;
    color: var(--light-purple);
}

.number{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    font-weight: 700;
    margin-right: .5rem;

}

/*Gallery*/
.gallery{
    background: #f2f2f2;

}

.container-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery{
    width: 30%;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, .5);
    cursor: pointer;

}

.image-light{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.image-add{
    width: 60%;
    border-radius: 1rem;
    transform: scale(0);
    transition: transform 0.3s .2s;
    
}

.close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 4rem;
    cursor: pointer;
}

.show-image{
    transform: scale(1);
}


/* .nav:hover{
    transform: translate(110%);
} */